<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Differential drive for each wheel -->
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      
      <left_joint>base_front_left_wheel_joint</left_joint>
      <left_joint>base_rear_left_wheel_joint</left_joint>

      <right_joint>base_front_right_wheel_joint</right_joint>
      <right_joint>base_rear_right_wheel_joint</right_joint>

      <frame_id>odom</frame_id>
      <child_frame_id>base_footprint</child_frame_id>

      <wheel_separation>${width - wheel_width}</wheel_separation>
      <wheel_radius>${wheel_radius}</wheel_radius>
    </plugin>
  </gazebo>

  <!-- Enable steering &c. -->
  <gazebo>
    <plugin
      filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
    </plugin>
  </gazebo>
</robot>
